.card {
    border-radius: 0;
}

.card,
.card-footer {
    background-color: #ffffe5;
    border: none;
}

.card-footer {
    text-align: right;
}

i {
    color: #cc0000;
    padding-right: 0.5rem;
}
